body {
    margin: 0;
    padding: 0;
    background-color: #333333;
}
#colorPicker {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
}
#transparencySlider {
    position: absolute;
    bottom: 15px;
    left: 90px;
    z-index: 10;
}
#saveButton {
    position: absolute;
    bottom: 20px;
    left: 250px;
    z-index: 10;
}
#loadButton {
    position: absolute;
    bottom: 20px;
    left: 400px;
    z-index: 10;
}
#clearAllButton {
    position: absolute;
    bottom: 20px;
    left: 520px;
    z-index: 10;
}