body {
    margin: 0;
    padding: 0;
    background-color: #333333;
}

#control-panel {
    position: absolute;
    top: 0;
    left: -200px;
    height: 100%;
    width: 250px;
    background-color: rgba(105, 105, 105, 0);
    z-index: 10;
    transition: left 0.5s ease, background-color 0.5s ease;
}

#control-panel-toggle {
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 0 0px;
    padding-right: 10px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    line-height: 20px;
    z-index: 10;
}

#control-panel-content {
    overflow-y: auto;
    height: calc(100% - 60px);
    padding: 20px;
    color: #000000;
}

#control-panel.expanded {
    left: 0;
    background-color: rgba(105, 105, 105, 0.1);
}

input[type="color"],
input[type="range"],
button {
    display: block;
    margin-bottom: 20px;
}

.color-picker-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.color-picker-container label {
  margin-left: 10px;
  margin-bottom: 5px;
}

.icon-container {
  display: inline-block;
  transition: filter 0.3s;
}

.icon-container:hover {
  filter: invert(1);
}

.icon {
  font-size: 15px;
  cursor: pointer;
}

#undo-redo-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 25px;
}

#undo-redo-container i {
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
}

.icon-active {
    color: orange !important;
}