<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ambient Geometry</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font-awesome.all.min.css">
  </head>
  <body>
    <div id="control-panel">
      <div id="control-panel-toggle">&#9776;</div>
      <div id="control-panel-content">
        <div class="color-picker-container">
          <input type="color" id="colorPicker" value="#FFFFFF" />
          <label for="colorPicker">Cube Color</label>
        </div>
        <div class="color-picker-container">
          <input type="color" id="backgroundColorPicker" value="#333333" />
          <label for="backgroundColorPicker">Background Color</label>
        </div>
        <label for="transparencySlider">Cube Transparency</label><input type="range" id="transparencySlider" min="0" max="100" value="100" />
        <label for="textureSelector">Cube Texture</label><select id="textureSelector">
          <option value="none">None</option>
          <option value="/textures/bookshelf.png">Book Shelf</option>
          <option value="/textures/bricks.png">Bricks</option>
          <option value="/textures/cobblestone.png">Cobblestone</option>
          <option value="/textures/diamond_ore.png">Diamond Ore</option>
          <option value="/textures/dirt.png">Dirt</option>
          <option value="/textures/glass_white.png">Glass</option>
          <option value="/textures/ice.png">Ice</option>
          <option value="/textures/oak_planks.png">Oak Planks</option>
          <option value="/textures/redstone_lamp_on.png">Redstone Lamp</option>
          <option value="/textures/stonebrick.png">Stone Bricks</option>
        </select>
        <button id="saveButton">Save current scene</button>
        <button id="loadButton">Load last save</button>
        <button id="clearAllButton">Clear current scene</button>
        <button id="toggleGridButton">Toggle Grid</button>
        <button id="toggleAutoRotate">Auto Rotate</button>
      </div>
    </div>
    <div id="undo-redo-container">
      <i class="fas fa-globe icon" id ="globe"></i>
      <i class="fas fa-undo" id="undo"></i>
      <i class="fas fa-redo" id="redo"></i>
      <i class="fas fa-times" id="deleteModeToggle"></i>
    </div>
    <script async src="/libs/es-module-shims.js"></script>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
